

  /* #popupimg{
    margin-left:0px;
    margin-right:0px;
    margin-bottom:0px;
  }

  .eliminated-screen {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(90, 90, 90, 0.5);
  z-index: 9999;
}

#popdiv {
  background-color: #c86464;
  text-align: center;
  margin: 0 auto auto auto;
}

#overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  
  color: whitesmoke;
}

.winner-screen{
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(90, 90, 90, 0.5);
  z-index: 9999;
  
}

#popdiv2{
  background-color: #64c86e;
  text-align: center;
  margin: 0 auto auto auto;
} */


#main{
  max-width: 960px; width: 100%; position: relative; margin:0 auto; line-height: 1.4em;

}

button:disabled,
button[disabled]{
  border: 1px solid #090202;
  background-color: #61676c;
  color: #0e0c0c;}

  button{
  border: 1px solid #090202;
  background-color: #dd1f55;
  color: #0e0c0c;
  padding:50px;}

  #but2{
    margin-top:50px;
  }