
#main{
  max-width: 960px; width: 100%; position: relative; margin:0 auto; line-height: 1.4em;

}

button:disabled,
button[disabled]{
  border: 1px solid #090202;
  background-color: #61676c;
  color: #0e0c0c;}

  button{
  border: 1px solid #090202;
  background-color: #dd1f55;
  color: #0e0c0c;
  padding:50px;}

  #but2{
    margin-top:50px;
  }

  #time {
    width: 10%;
    height: 14.5vh;
    margin-left: 26%;
    line-height: 14.5vh;
    color: whitesmoke;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-size: 100% 100%;
  }